body {
	overflow: hidden;
}
.card,.hand,.options,.bet,.insurance,.double,.bj,.chair,.player,.payout,.title,.chips {
	position:absolute;
}
.chips,.payout,.bet,.double,.insurance,.bj {
	font-size: 1.2em;
	color:black;
	z-index:23;
}
//
.seat {
	border: .1em solid brown;
}
.options {
	z-index:22;	
}
.table > .options {
	left:0;
	top:0;
}
.seat > .options > button {
	position:absolute;
	white-space:nowrap;
}
.hand > .options > button {
	display:block;	
}
.table > .options > button {
	display: block;
}
.seat {
	position: absolute;	
}
//
.hand {		
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);			
}