body {
	overflow:hidden;
	font-size: 1.5em;
}

input, button, select, option, textarea {
    font-size: 1.0em;
}

.table, .seat, .options, .hand, .bet, .player, .nick, ._id,  {	
	position:absolute;
}

.hand {
	border: .1em solid brown;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);			
}


//
.seat {
	border: .1em solid brown;
}

.hand > .bet {
	font-size: 2.0em;
}

.options > button {
	display:inline-table;
}


.card {
	width: 4.5em;
	padding:.1em;	
}