input, button, select, option, textarea {
	position:absolute;
    font-size: 22pt;
    color:black;
    z-index:23;
}
button:disabled {
	color:red;	
}
.options,.seat,.chair,.player,.chips,.bet,.payout,.lock,.ante,.hand {
	position:absolute;	
}
#tape,.player,._id {
	visibility: visible;
    display:none;
}
#tablecanvas {
	position:absolute;
	top:0;
	left:0;
	z-index:-2;
}
._id {
	bottom:0;
}
.title {
	right:0;
}
.bet {
	text-align:center;
}
.payout,.bet,.chips {	
	font-size: 1.2em;
	color:black;
	z-index:23;
}
.table > .options > button {
	position:relative;
	display:block;
}
.seat > .options > button {
	position:relative;
	display:block;
}