body {	
	overflow: hidden;
}

input, button, select, option, textarea {
    font-size: 2em;
    padding:.1em;
    margin:.1em;
}

.options {
	position:absolute;
	z-index:3;	
}

.options > button {
	clear:both;	
	text-align: center;
	display:block;
	float:right;
}

//
.table {
	text-align: center;
	background-color: green;
	overflow:hidden;
}

//
.bet {
	color:white;
	padding:.5em;
	margin:.5em;
	background-color:black;
	border-radius: 50%;
	position:absolute;
	z-index:2;
}

//
.label {
	display:none;
}

//
.seat {
	border:.1em solid brown;
}

//
.seat {
	border:.1em solid brown;
} 

//
.table {
	border:.1em solid brown;
	position:relative;
} 

//
.seat, .label, .player, .options, .hand, .bet, .insurance, .double, , .nick, ._id {	
	position:absolute;
}

//
.hand {
	border: .1em solid brown;
}
